@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;

      scroll-behavior: smooth;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  .box-shadow{
    box-shadow: 0px 0px 6.6px 0px #0000001A;
  }

  .header-box-shadow{
    box-shadow: 0px -1px 18.8px 0px #00000014;
  }



  .svg-colour{
    fill: white !important;
    color: white !important; 
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }

  .logo-box-shadow{
    box-shadow: 0px 5.47px 5.47px 0px #AAAAAA40;
  }

  .purple-tint{
    position: relative;
  }

  .purple-tint::before{
    position: absolute;
    top: 0;
    left:0;
    border-radius: 0.68rem;
    content: "";
    width: 100%;
    padding: 1px;
    height: 100%;
    z-index: 10;
    background-color: #6335ecd2;
    opacity: 0.1;
  }
  .small-underline{
    position: relative;
  }

  .small-underline::before{
    content: "";
    height: 1px;
    width: 20px;
    background-color: #6335EC;
    position: absolute;
    bottom: 0;
    left: 5px;
  }

  .suggested-dropshadow{
    box-shadow: 0px 3.3px 24.76px 0px #9E9E9E0D;
  }

  .custom-gradient{
    background: linear-gradient(90deg, #efedf8 0%, #cec5eb 100%);
  }

  .green-gradient{
    background: linear-gradient(90deg, #d5f4dd 0%, #ffffff 100%);
    box-shadow: 0px 3.3px 24.76px 0px #9E9E9E0D;
  }

  
  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
    .button-gradient{
      background: linear-gradient(256.52deg, #5E17EB 2.91%, #455FD9 92.84%);
    }
    .button-active{
      @apply button-gradient text-white hover:button-gradient
    }
  
    .button-inactive{
      @apply bg-white text-black hover:bg-white
    }
  }